#addtowishlist .hidetext{
    font-size: 15px !important;
}
#sortItem{
    height: 35px !important;
}
.cursorIcon
{
    cursor: pointer;
}

.liked
{
    color: red !important;
}

.disliked
{
    color:#D57F3C !important;
}

.subs
{
    color:red !important;
}