.lds-facebook {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	margin: 0px auto;
	right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }
  .lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 6px;
	width: 13px;
	background: #232323;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
	left: 6px;
	animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
	left: 26px;
	animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
	left: 45px;
	animation-delay: 0;
  }
  @keyframes lds-facebook {
	0% {
	  top: 6px;
	  height: 51px;
	}
	50%, 100% {
	  top: 19px;
	  height: 26px;
	}
  }
  
  
.for-visuality {
	border: 1px solid green
}
.for-visuality-2 {
	border: 1px solid #00f
}
.easy-autocomplete-container ul {
	margin-top: 50px
}
.easy-autocomplete input {
	padding: 15px 12px;
	border-radius: 0;
	font-size: .8em;
	text-transform: uppercase;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out
}
.easy-autocomplete input:focus,
.easy-autocomplete input:hover {
	box-shadow: 0 2px 25px rgba(0, 0, 0, .2)
}
.mega-menu {
	z-index: 1
}
.desktopTopFixed {
	z-index: 111
}
.heading-panel h2 {
	color: #222
}
.color-red {
	color: #e61e21
}
.features-tag {
	z-index: 1;
	background-color: rgba(245, 137, 54, .8);
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 10px;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	left: 0
}
.black-white-text {
	color: #fff;
	background: #030303
}
.black-text {
	color: #232323;
	font-weight: 700
}
.table-display tbody tr td,
.table-display thead tr th {
	padding: 20px
}
.add-to-compare-col-label {
	width: 20%
}
.add-to-compare-col {
	width: 26.6666666667%
}
.add-to-compare-btn {
	padding: 15px 35px
}
.add-to-compare-container tr:nth-child(even) {
	background-color: #f2f2f2
}
.add-to-compare-container td {
	border-right: thin solid #bababa
}
.add-to-compare-container td:first-child {
	border-left: thin solid #bababa
}
.add-to-compare-container tr:nth-child(2) {
	border-top: thin solid #bababa
}
.add-to-compare-container tr:last-child {
	border-bottom: thin solid #bababa
}
.comparison-title {
	height: 50px;
	overflow: hidden;
	line-height: 1.2;
	margin-bottom: 10px
}
.comparison-img {
	height: 234px;
	width: 313px;
	border: thin solid #bababa
}
.feature-img-size,
.full-width {
	width: 100%
}
.comparison-close {
	font-size: 12px;
	color: red;
	opacity: 1;
	padding: 0 10px
}
.compareUpc {
	color: #337ab7!important;
	font-weight: 700!important
}
.float-left {
	float: left
}
.margin-top-bottom-20 {
	margin-top: 20px;
	margin-bottom: 20px
}
.margin-bottom-20 {
	margin-bottom: 20px
}
.no-padding {
	padding: 0
}
.padding-left-right-10 {
	padding-left: 10px;
	padding-right: 10px
}
.content-section {
	margin-top: -50px
}
.content-container ol li,
.content-container ul li {
	line-height: 35px;
	padding: 0 10px
}
.content-margin {
	margin-left: 35px
}
.content-footer,
.content-paragraph {
	margin-left: 22px
}
.content-margin li {
	list-style: circle
}
.content-footer {
	margin-top: 10px
}
.content-hide {
	visibility: hidden
}
.content-center {
	text-align: center
}
.content-promotion h3 {
	font-size: 14px
}
.rating-title,
.rating-title-sub {
	font-size: 30pt
}
.footer-logo {
	margin-top: -40px
}
.content-dealer-login {
	color: #E61E21!important;
	margin-left: 5px
}
.btn-purchase-now {
	width: 200px!important;
	margin-bottom: 10px
}
.pull-summary {
	text-align: left!important
}
.img-about-us {
	max-width: 75%!important
}
.list-horizontal li {
	display: inline;
	padding: 15px!important
}
.long-heading {
	width: 80%!important
}
.share-icons li {
	display: inline;
	padding: 25px!important
}
.category-checkbox {
	height: 15px
}
.rating-title-container {
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center
}
.rating-title {
	font-weight: 700
}
.api-content-header h3 {
	font-size: 16px;
	margin-left: 20px
}
.api-content-header h4 {
	font-size: 14px;
	margin-left: 20px
}
.text-space {
	margin-left: 20px
}
.top-space {
	height: 10px
}
.api-content-code {
	margin-left: 30px
}
.bullet-content {
	margin-left: 50px;
	list-style-type: square
}
.cirle-content {
	margin-left: 45px;
	list-style-type: circle
}
.owl-stage {
	display: flex;
	align-items: center
}
.load-more {
	max-width: 200px;
	text-align: center
}
.category-grid-box-1-min-height {
	min-height: 569px;
	position: relative
}
.category-grid-box-1-min-height .ad-info-1 {
	position: absolute;
	bottom: 0
}
.ad-info2{
	text-align: center;
	padding: 10px 0;
	width: 100%;
}
.ad-info2 ul li a{
	padding: 0 3px;
	font-size: .8em;
}
.ad-info2 ul li a:hover{
	color: #f58936;
}
.menu-link li a {
	background-color: #000;
	border-radius: 100%;
	display: inline-block;
	height: 28px;
	margin-right: 8px;
	padding: 0;
	text-align: left!important;
	width: 135px!important;
	color: #fff
}
.wrap_img_ads,
.wrap_img_prod {
	height: 300px;
	align-items: center;
	padding: 15px
}
.ad-meta ul,
.banner_viewProd,
.images-search {
	text-align: center
}
.brand-text {
	font-size: 15px
}
.socail-icons h5.information {
	border-bottom: 2px solid #e74c3c;
	width: 112px
}
.socail-icons h5.help {
	border-bottom: 2px solid #e74c3c;
	width: 48px
}
.lbl_share,
.wrap_img_ads img {
	width: 100%
}
.contactCart{
	color: #00b604 !important;
	font-weight: 700;
}
.contactEmail,
.contactMoney,
.contactUpdate {
	color: #232323!important;
	font-weight: 700!important
}
.with-color {
	background-color: #E61E21;
	color: #fff
}
@media only screen and (max-width: 991px) {
	.banner-side-container {
		display: none
	}
}
label {
	margin-bottom: 0!important
}
.fa-bell-o,
.fa-comment-o,
.fa-thumbs-o-down,
.fa-thumbs-o-up {
	color: #f58936
}
.fa-bell-o:hover,
.fa-comment-o:hover,
.fa-thumbs-o-down:hover,
.fa-thumbs-o-up:hover {
	color: red
}
.wrap_img_prod {
	display: flex;
	min-width: 200px;
	background-color: #fff;
	overflow: hidden!important;
	margin: auto;
	max-width: 300px
}
.wrap_img_prod img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle
}
.wrap_img_ads {
	display: flex;
	width: 100%;
	background-color: #fff;
	overflow: hidden
}
.clearfix_row {
	height: 100px
}
.clearfix_row_2 {
	height: 50px
}
.clearfix_3 {
	height: 20px
}
.wrap_ads {
	margin: auto 5px;
	padding: 2px;
	max-height: 600px;
	overflow: hidden
}
.lbl_rateCount {
	font-size: 2em
}
.lbl_share {
	font-size: .8em;
	font-weight: 400;
	line-height: 1;
	color: #666
}
.remove_margin_RateTitle {
	margin-bottom: 0!important
}
.list li {
	list-style: none;
	display: inline-block
}
.wrap_img_slider_view_prod {
	height: 360px;
	width: 360px !important;
	margin: auto;
	overflow: hidden;
	display: flex!important;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	margin: 0 -10px;
}
.wrap_thumbnailSlider,
ul.reoveBGslider {
	background-color: transparent!important
}
.wrap_img_slider_view_prod img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
	border: none!important;
	margin: auto
}
.banner_viewProd {
	max-width: 615px;
	min-width: 100%;
	max-height: 320px;
	margin: auto;
	overflow: hidden
}
.banner_viewProd img {
	width: 100%
}
.wrap_thumbnailSlider {
	margin: 5px 0;
	padding: 10px 0
}
.wrap_thumbnailSlider ul li.list_thumbnailsSlider {
	width: 80px!important;
	height: 50px;
	margin-right: 0!important
}
.fix_height {
	min-height: 300px;
	max-height: 100%
}
.btn_selectPlan {
	position: absolute;
	bottom: 21px;
	width: 88%!important;
	left: 21px
}
.section_padding_srch {
	padding-top: 35px
}
.input_srch {
	border: 1px solid #E61E21!important
}
.src_marginTop {
	margin-top: 36px
}
.src_btn {
	margin: 0;
	position: absolute;
	right: 16px;
	top: 1px;
	padding: 11px 12px;
	background-color: #E61E21;
	border: none;
	font-size: .9em;
	font-weight: 500;
	color: #fff;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.select2-selection--single {
	margin: 0 5px 0 0!important
}
.src_btn:focus,
.src_btn:hover {
	outline: 0;
	background-color: #f0f0f0;
	color: #333
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 8px!important
}
.lbl_PComparison {
	font-size: 1.8em;
	font-weight: 700;
	color: red;
	padding: 30px 0 15px
}
.images-search,
.wrap_imgSlider_serch {
	margin: auto;
	padding: 15px;
	display: flex
}
span.lbl_Price {
	color: #333
}
span.lbl_Price2 {
	color: #e61e21
}
span.lbl_Price span,
span.lbl_Price2 span {
	font-family: 'Black Ops One', cursive;
	font-size: 1.3em;
	color: #70a71d
}
.wrap_imgSlider_serch {
	max-width: 280px;
	min-width: 100%;
	height: 280px;
	margin: auto;
	align-items: center;
	overflow: hidden;
	background-color: #fff
}
.images-search,
.wrap_imgCompare {
	align-items: center;
	overflow: hidden
}
.wrap_imgSlider_serch img {
	width: 100%
}
.images-search {
	height: 250px;
	max-width: 250px;
	min-width: 150px
}
.images-search img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle
}
.price-search {
	background-color: #fceb5c;
	line-height: 1.2;
	padding: 5px 10px
}
.lblPrice {
	margin-bottom: 0!important;
	font-size: 1em
}
.lblShipingFee {
	font-size: .8em;
	color: red
}
.wrap_titleItem {
	height: 35px;
	margin: 15px 0 10;
	overflow: hidden
}
.lbl_ProdName {
	font-size: .9em;
	padding: 0;
	cursor: pointer;
	line-height: 1.2
}
.lbl_ProdName:hover {
	text-decoration: underline
}
.wrap_lbl_Cat ul li {
	list-style: none;
	display: inline-block;
	line-height: 1.2
}
.wrap_lbl_Cat ul li:first-child {
	border-right: 1px solid #f0f0f0;
	padding: 0 5px 0 0
}
.wrap_lbl_Cat ul li label {
	margin-right: 5px;
	margin-bottom: 0!important;
	font-size: .8em!important;
	text-transform: uppercase;
	color: #333
}
.rmv_padding {
	padding-left: 5px!important;
	padding-right: 5px!important
}
.add_paddingRT {
	padding: 0
}
.ad-details ul li {
	list-style: none;
	font-size: .8em;
	line-height: 1.5
}
.lbl_Pcomp {
	font-size: .9em;
	margin-left: 5px
}
.last-updated {
	font-size: .8em;
	line-height: 1;
	color: #333;
	padding: 10px 0;
	position: absolute;
	top: 210px;
	right: 30px;
	z-index: 99
}
.ad-meta {
	bottom: 20px
}
.ad-meta ul li {
	list-style: none;
	display: inline-block;
	width: 49%
}
.ad-meta ul li button {
	width: 100%;
	font-size: .7em!important;
	padding: 10px 0!important;
	text-align: center
}
.lbl_featured_info {
	padding: 5px
}
.lbl_featured_info ul li {
	list-style: none;
	padding: 0!important;
	font-size: .8em;
	line-height: 1.5;
	color: #c2c2c2
}
.wrap_listitem {
	background-color: #fff;
	height: auto;
	margin: 0 0 20px
}
.wrap_listItemInfo {
	padding: 5px 10px
}
.btnProd {
	font-size: .7em!important
}
.easy-autocomplete-container {
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 5px;
	text-align: left;
	font-size: 1.2em
}
@media only screen and (max-width: 767px) {
	.wrap_listitem {
		height: auto
	}
	.ad-meta {
		position: static
	}
	.ad-meta ul li {
		width: 100%;
		margin: 5px 0
	}
	.btnProd {
		width: 100%
	}
}
.wrap_imgCompare {
	height: 200px;
	min-width: 200px;
	max-width: 250px;
	margin: auto;
	border: 1px solid #f0f0f0;
	display: flex;
	text-align: center;
	padding: 15px
}
.wrap_imgCompare img {
	width: 100%
}
.black-text {
	/*text-decoration: underline!important*/
}
table tbody tr td a {
	text-decoration: underline
}
table tbody tr td {
	font-size: .9em;
	text-decoration: none
}
.add_padding_title {
	padding: 20px;
	margin-bottom: 0!important
}
.rmv_padding_table {
	padding: 5px!important
}
.lbl_tableList {
	min-width: 70px;
	max-width: 150px;
	font-size: .8em
}
table {
	font-family: arial;
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0
}
.table {
	width: 100%;
	margin-bottom: 20px
}
.table td,
.table th {
	font-weight: 400;
	font-size: .9em;
	padding: 8px 15px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #ddd
}
.table thead th {
	vertical-align: bottom
}
.table tbody>tr:nth-child(odd)>td,
.table tbody>tr:nth-child(odd)>th {
	/*background-color: #fafafa*/
}
.lbl_faqTitlle {
	font-size: 2em;
	padding: 30px 0
}
.wrap_imgaccord {
	max-width: 450px;
	padding: 5px
}
.wrap_imgaccord2 {
	width: 100%;
	padding: 5px
}
.wrap_imgaccord img,
.wrap_imgaccord2 img {
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
}
.asterisk {
	color: red;
	font-weight: 700;
	font-size: 1em
}
ul.listDeal li {
	list-style: circle;
	margin: 5px 0
}
.add_padingCart {
	padding: 10px!important
}
ul.standard_list li {
	padding: 18px 0;
	border-bottom: 1px solid #f3f3f3
}
.lbl_standardTitle {
	font-size: 18px;
	font-weight: 500
}
.lbl_standardTitle a {
	color: #232323;
	display: block
}
.lbl_standardTitle a:hover {
	color: #f58936
}
.wrap_imgUserProfile {
	width: 300px;
	height: 300px;
	padding: 20px;
	margin: auto;
	display: flex;
	align-items: center
}
.wrap_imgUserProfile a img {
	width: 100%
}

.wrap_adPrice{
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px;
	/*width: 150px;*/
	text-align: right;
	line-height: 1;
}
.wrap_adPrice label{
	width: 100%;
	font-size: 1.8em;
}
.category-title{
	line-height: 1;
	margin: 10px 0 0 0;
}
.category-title label{
	width: 100%;
	font-size: 1em;
}
.category-title span{
	font-size: .9em;
}
.wrap_btnChangeImg{
	position: absolute;
    bottom: -65px;
    right: 10px;
    width: 150px;
}
.wrap_btnChangeImg a{
	font-size: .8em;
}
.wrap_btnWishlist{
	position: absolute;
    bottom: -42px;
    right: -7px;
    width: 150px;
}
.wrap_btnWishlist a{
	font-size: .8em;
}
.wrap_btnMyDeals{
	position: absolute;
    bottom: -42px;
    right: -7px;
    width: 150px;
}
.wrap_btnMyDeals a{
	font-size: .8em;
}






.btn_show{
	padding: 5px 10px;
	background-color: red;
	border: 0;
	font-size: 1em;
	color: #fff;
	margin: 10px 0 0 0;
}
.btn_show:focus{
	outline: 0;
}
.input_email{
	padding: 10px;
	font-size: .9em;
	border: 1px solid #e2e2e2;
	width: 300px;
}
.input_email:focus{
	outline: 0;
}
.btnShare{
	padding: 10px;
	font-size: .9em;
	text-transform: uppercase;
	background-color: rgba(245, 137, 54);
	color: #fff;
	border: none;

	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}
.btnShare:hover, .btnShare:focus{
	background-color: #bf621a;
	outline: 0;
}




.wrap_inputShare{
	display: none;
}
.wrap_imgModal{
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	margin: auto;
}
.wrap_imgModal img{
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.lbl_modal1{
	font-size: 1.3em;
	color: #333;
	margin: 0 10px 0 0;
}
.lbl_modal{
	font-size: .8em;
	font-weight: 700;
}
.recent-ads-list-price{
	margin: 20px 0;
}
.recent-ads-list-price ul li{
	line-height: 1.3;
}
.wrap_modalContent{
	padding: 20px;
}
.lbl_modalLink{
	color: #333;
	text-decoration: underline;
}

.btn-block + .btn-block{
	margin: 0 !important;
}



.wrap_givevaway{
	box-shadow: 0 2px 25px rgba(0, 0, 0, .2);
	padding: 20px;
}
.wrap_giveawayBanner{
	height: 90px;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	text-align: center;
}
.wrap_giveawayBanner img{
	max-width: 100%
	max-height100%;
	display: inline-block;
	vertical-align: middle;
}
.lbl_giveawayTitle{
	font-size: 2em;
	font-weight: 700;
	color: #E61E21;
	padding: 30px 0;
}
.wrap_imgGiveaway{
	padding: 20px;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	margin: 2px auto;
	border: 1px solid #f0f0f0;
}
.wrap_imgGiveaway img{
	max-height: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}
.wrap_entry{
	padding: 20px;
	margin: 30px 0 0 0;
	background-color: #e6e5f2;
	border-radius: 3px;
}

/*.form-group input{
	padding: 5px;
	width: 100%;
	font-size: 1em;
	color: #333;
	border: 1px solid #cccc;
}*/
.form-group input:hover, .form-group input:focus{
	outline: 0;
}
.btn_giveaway{
	width: 100%;
}
.wrap_shareGiveaway{
	margin-top: 30px;
	text-align: center;
}
.wrap_shareGiveaway ul li{
	display: inline-block;
	margin: 5px 8px;
}
.wrap_shareGiveaway ul li a i{
	font-size: 1.3em;
}






@media (max-width: 767px) {
	.table-action thead {
		display: none
	}
	.table-action tr {
		border-bottom: 1px solid #ddd
	}
	.table-action td {
		border: 0
	}
	.table-action td div {
		word-break: break-all
	}
	.table-action td:not(:first-child) {
		display: block
	}
	.wrap_imgaccord {
		width: 100%
	}
	.header .logo{
		padding: 50px 0;
	}
	.ad-info2 ul li a{
		font-size: 1em;
	}
}